<<<<<<< HEAD
			h1 	{
=======
			h1 	{		
>>>>>>> 2b647f7d349473466bdebfad9ce896d2d0ea66dd
				font-size: 24pt;
				color: red;
				text-decoration: none;
				font-family: tahoma, helvetica, sans-serif;
				text-align: center;
				border: thick solid red;
				padding: 1ex;
				width: 50%;
<<<<<<< HEAD
				
				}
=======
				}	
>>>>>>> 2b647f7d349473466bdebfad9ce896d2d0ea66dd
			em	{
				font-style: normal;
				color: green;
				background-color: lightgrey;
				font-weight: bold;
				}
			ul {
				list-style-type: square;
			}
			a :hover {
				text-decoration: none;
<<<<<<< HEAD
=======
			}
			li:first-child{
				border: thick solid green;
				margin-bottom: 1em;
				margin-top: 1em;
				padding: 1ex;
				width: 40%;
			}
			p.centered{
				text-align: center;
				width: 50%;
>>>>>>> 2b647f7d349473466bdebfad9ce896d2d0ea66dd
			}
			li:first-child{
				border: thick solid green;
				margin-bottom: 1em;
				margin-top: 1em;
				padding: 1ex;
				width: 40%;
			}
			p.centered{
				text-align: center;
				width: 50%;
			}